<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/style.css/' %}">-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id="login-box">
  <div class="left">
    <h1>Login</h1>
   <!-- <form role="form" action=" " method="post" enctype="multipart/form-data"> -->
    <form method="post" action="">
      {% csrf_token %}
    <input type="text" name="email" placeholder="E-mail"/>
    <input type="password" name="password" placeholder="Enter password"/>

   <!-- <label> upload image1
      <input type="file" name="image1">
    </label>

    <label> upload image2
      <input type="file" name="image2">
    </label> -->
        <input type="submit" name="signup_submit" value="Login"></form><br>
      <h5>Don't have an account? <a href="signup">Sign Up</a></h5>
  </div>
</div>

</body>

<!--<footer>-->
    <!--<script type="text/javascript" src="{% static 'js/login.js/' %}"></script>-->
<!--</footer>-->
</html>