<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css/' %}">
    <meta charset="UTF-8">
    <title>Update Product Details</title>
</head>
<body>
    <div id="login-box">
  <div class="left">
    <h1> Update Page</h1>

   <!-- <form role="form" action=" " method="post" enctype="multipart/form-data"> -->
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
    <input type="text" name="product_name" placeholder="Product Name" />
      <div class="form-group">
          <label for="selectid">Category Type</label>
          <select class="form-control" id="selectid" name="category">
              <option  value="m">Men</option>
              <option  value="w">Women</option>
              <option  value="u">Universal</option>
              <option  value="k">Kids</option>
          </select>
      </div>
    <!--<input type="text" name="type" placeholder="Product Type" />-->
        <textarea name ="description" placeholder="Description"></textarea>
        <p></p>
    <input type="number" name="quantity" placeholder="Quantity"/>
    <input type="text" name="slug" placeholder="Slug"/>
    <input type="file" name="image" placeholder="Image"/>
    <input type="number" name="price" placeholder="Price"/>
    <input type="submit" name="update" value="Update" />
    </form>
      </div>
</div>
</body>
</html>