{% extends "lookcare/base.html" %}

{% block content %}
<!-- start main content -->
<main class="main-container">
<!-- contact content -->


   <!-- Start Contact Us -->

   <div id="Contact" class="light-wrapper">
      <div class="container inner">
         <div class="row">
            <div class="col-md-8">
               <div class="row">
                  <div class="Contact-Form">
                     <form class="leave-comment contact-form" method="post" action="#" id="cform" autocomplete="on">
                        <div class="Contact-us">
                           <div class="form-input col-md-4">
                              <input type="text" name="name" placeholder="Your Name" required>
                           </div>
                           <div class="form-input col-md-4">
                              <input type="email" name="email" placeholder="Email" required>
                           </div>
                           <div class="form-input col-md-4">
                              <input type="text" name="contact_phone" placeholder="Phone" required>
                           </div>
                           <div class="form-input col-md-12">
                              <textarea class="txt-box textArea" name="message" cols="40" rows="7" id="messageTxt" placeholder="Message" spellcheck="true" required></textarea>
                           </div>
                           <div class="form-submit col-md-12">
                              <input type="submit" class="btn btn-custom-6" value="Send Message">
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-md-4">

               <div class="Contact-Info">
                  <h4>Contact Details</h4>
                  <div class="tex-contact">
                     <p><h2>Shoppers</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>The ultimate shopping platform</i> </p>
                  </div>
                  <div class="Block-Contact col-md-6">
                     <p>Phone :</p>
                     <ul>
                        <li>
                           <i class="fa fa-phone"></i>
                           <span>+91-992 325 0401</span>
                           <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9923624590</span>
                        </li>
                        <li>
                           <i class="fa fa-fax"></i>
                           <span>+0 (123) 456 - 7890</span>
                        </li>
                     </ul>
                  </div>
                  <div class="Block-Contact col-md-6">
                     <p>Email :</p>
                     <ul>
                        <li>
                           <i class="fa fa-envelope"></i>
                           <span>shoppers@gmail.com</span>
                        </li>
                     </ul>
                  </div>
                  <div class="Block-Contact col-md-12">
                     <p>Address :</p>
                     <ul>
                        <li>
                           <i class="fa fa-map-marker"></i>
                           <span>30 South Avenue San Francisco.</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- End Contact Us -->
<!-- end contact content -->

   <section class="block gray no-padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="content-box no-margin go-simple">
                  <div class="mini-service-sec">
                     <div class="row">
                        <div class="col-md-3">
                           <div class="mini-service">
                              <i  class="fa fa-paper-plane"></i>
                              <div class="mini-service-info">
                                 <h3>Worldwide Delivery</h3>
                              </div>
                           </div><!-- Mini Service -->
                        </div>
                        <div class="col-md-3">
                           <div class="mini-service">
                              <i  class="fa  fa-newspaper-o"></i>
                              <div class="mini-service-info">
                                 <h3>Worldwide Delivery</h3>
                              </div>
                           </div><!-- Mini Service -->
                        </div>
                        <div class="col-md-3">
                           <div class="mini-service">
                              <i  class="fa fa-medkit"></i>
                              <div class="mini-service-info">
                                 <h3>Friendly Stuff</h3>
                                 <p>unc tincidunt, on cursusau gmetus, lorem Hore</p>
                              </div>
                           </div><!-- Mini Service -->
                        </div>
                        <div class="col-md-3">
                           <div class="mini-service">
                              <i  class="fa  fa-newspaper-o"></i>
                              <div class="mini-service-info">
                                 <h3>24/h Support</h3>
                              </div>
                           </div><!-- Mini Service -->
                        </div>
                     </div>
                  </div><!-- Mini Service Sec -->
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
<!-- end main content -->
{% endblock %}