{% extends "lookcare/base.html" %}

{% block content %}
<!-- start main content -->
<main class="main-container">
   <!-- new collection directory -->
   <section id="content-block" class="slider_area">
      <div class="container">
         <div class="content-push">
            <div class="row">

               <div class="col-md-3 col-md-push-9">
                  <div class="sidebar-navigation">
                     <div class="title">Product Categories<i class="fa fa-angle-down"></i></div>
                     <div class="list">
                        {% for ct in catg %}
                        <a class="entry" href=""><span><i class="fa fa-angle-right"></i>{{ ct.name }}</span></a>
                        {% endfor %}
                     </div>
                  </div>
                  <div class="clear"></div>

               </div>

               <div class="col-md-9 col-md-pull-3">

                  <div class="header_slider">
                     <article class="boss_slider">
                        <div class="tp-banner-container">
                           <div class="tp-banner tp-banner0">
                              <ul>
                                 <!-- SLIDE  -->
                                 <li data-link="#" data-target="_self" data-transition="flying" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                    <!-- MAIN IMAGE --><img src="/static/lookcare/img/slider2.jpg" alt="slidebg1" data-lazyload="/static/lookcare/img/slider2.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption very_big_white randomrotate customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption very_large_white_text randomrotate customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption large_white_text randomrotate customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeInOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>

                                 </li>
                                            <br>
                                 <li data-link="#" data-target="_self" data-transition="3dcurtain-horizontal" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                    <!-- MAIN IMAGE --><img src="/static/lookcare/img/slider4.jpg" alt="slidebg1" data-lazyload="/static/lookcare/img/slider4.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption very_big_white fade customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption very_large_white_text fade customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption large_white_text fade customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                 </li>
                                 <li data-transition="boxslide" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                    <!-- MAIN IMAGE --><img src="/static/lookcare/img/slider3.jpg" alt="slidebg1" data-lazyload="/static/lookcare/img/slider3.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption large_white_text skewfromleftshort customout rs-parallaxlevel-0" data-x="355" data-y="363" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1200" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption very_large_white_text skewfromleftshort customout rs-parallaxlevel-0" data-x="270" data-y="250" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="800" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> selection </div>
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption very_big_white skewfromleftshort customout rs-parallaxlevel-0" data-x="270" data-y="140" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="500" data-end="4800" data-endspeed="300" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> Trendy </div>
                                 </li>
                              </ul>
                              <div class="slideshow_control"></div>
                           </div><!-- /.tp-banner -->
                        </div>
                     </article>
                  </div><!-- /.header_slider -->

                  <div class="clear"></div>

               </div>

            </div>
         </div>
      </div>
   </section>
   <!-- end new collection directory -->



<section id="popular-product" class="ecommerce">
   <div class="container">
      <!-- Shopping items content -->
      <div class="shopping-content">

         <!-- Block heading two -->
         <div class="block-heading-two">
            <h3><span>Popular Items</span></h3>
         </div>

         <div class="row">
            {% for ap in allp %}
            <div class="col-md-3 col-sm-6">
               <!-- Shopping items -->
               <div class="shopping-item">
                  <!-- Image -->
                  <a href="single-product">
                     <img class="img-responsive" src="{{ap.image}}" alt="{{ap.product_name}}" width="100%" height="600px"/>
                  </a>
                  <!-- Shopping item name / Heading -->
                  <h4><a href="single-product">{{ap.product_name}}</a><span class="color pull-right">Rs {{ap.price}}</span></h4>
                  <div class="clearfix"></div>
                  <!-- Buy now button -->
                  <div class="visible-xs">
                     <a class="btn btn-color btn-sm" href="cart">Buy Now</a>
                  </div>
                  <!-- Shopping item hover block & link -->
                  <div class="item-hover bg-color hidden-xs">
                     <a href="add-to-cart/{{ap.id}}">Add to cart</a>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>



         <!-- Pagination -->
         <div class="shopping-pagination pull-right">
            <ul class="pagination">
               <li class="disabled"><a href="#">&laquo;</a></li>
               <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
               <li><a href="#">&raquo;</a></li>
            </ul>
         </div>
         <!-- Pagination end-->
      </div>
   </div>
</section>


   <div class="bt-block-home-parallax" style="background-image: url(/static/lookcare/img/background1.jpg);">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="lookbook-product">
                  <h2><a href="#" title="">Collection 2020 </a></h2>
                  <ul class="simple-cat-style">
                     <li><a href="#" title="">Dresses</a></li>
                     <li><a href="#" title="">Denims</a></li>
                     <li><a href="#" title="">Jeans</a></li>
                  </ul>
                  <a href="#" title="">read more</a>
               </div>
            </div>
         </div>
      </div>
   </div><!-- /.bt-block-home-parallax -->


</main>
<!-- end main content -->
{% endblock %}

